<mat-tab-group>
  <mat-tab label="Popular" value="primary">

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Latest">
    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>

    <!-- blog -->
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/009.jpg" alt="">
      </div>
      <div class="col-sm-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="date">27 Jul 2018</p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
