<app-header></app-header>

<div class="container">
  <br><br>
  <app-slider></app-slider>
  <br><br>
  <div class="row">
    <div class="col-sm threeB" *ngFor="let threeB of threeBlogs">
      <img [src]="threeB.bannerImg" alt="image" class="threeBImg" />
      <div class="fadder">
        <div class="text">
          <p>
            <span>{{ threeB.createdAt|date:'d MMM, y' }}</span>
            <span><i class="glyphicon glyphicon-heart-empty"></i>{{ threeB.likes }}</span>
            <span><i class="glyphicon glyphicon-comment"></i>{{ threeB.comment.length }}</span>
          </p>
          <h3>{{threeB.title}}</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- <h2>
    <mat-icon>loyalty</mat-icon> WEEKLY FEATURED POSTS</h2>
  <hr> -->


  <!-- blog -->
  <!-- <div class="row blog_div" *ngFor="let blog of blogs | paginate: { itemsPerPage: 5, currentPage: p}">
    <div class="col-md-4">
      <img [src]="blog.image" alt="image" class="img-thumbnail blog_img">
    </div>
    <div class="col-md-8">
      <h3>{{ blog.title }}</h3>
      <p>{{ blog.created_at | date: 'dd MMM yyyy hh:mm aaa' }}</p>
      <p>{{ blog.description }}</p>

      <div class="row">
        <div class="col-sm-6">
          <button (click)="reachSingleBlog(blog._id)" mat-raised-button color="primary">Read More</button>
        </div>
        <div class="col-sm-6">
          <button mat-icon-button color="primary" class="featured_icons">
            <mat-icon>favorite</mat-icon>
          </button>12

          <button mat-icon-button color="accent" class="featured_icons">
            <mat-icon>remove_red_eye</mat-icon>
          </button>50
        </div>
      </div>
    </div>
    <hr>
  </div> -->
  <!-- blog -->

  <!-- pagination controls -->
  <!-- <pagination-controls (pageChange)="p = $event" #paginate></pagination-controls> -->
  <!-- pagination controls -->
</div>


<app-footer></app-footer>